body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
    background-color: whitesmoke;
}

.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 100;
}

a {
    color: whitesmoke;
    font-weight: 300;
    text-decoration: none;
    font-family: "hobeaux", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0px 40px 0px 40px;
}

a:hover {
    color: blue
}

#video, #canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#canvas {
    z-index: 2; 
    color: whitesmoke;
}

.cutout-text {
    font-size: 60px;
    font-weight: bold;
    background-image: url('img/Placeholder.webp');
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
}

.content-all {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 1000px;
}

.kurzfilm {
    width: 100%; /* Macht das Video so breit wie den video-wrapper */
    display: block;
}

.video-wrapper {
    position: relative;
    width: 75vw; /* oder eine andere Größe, die Sie für das Video festgelegt haben */
    margin: auto;
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px; /* Anpassen nach Bedarf */
    display: none; /* Standardmäßig versteckt */
    color: white; /* Farbe des Symbols */
    font-size: 5em;
}

/* Beispiel für Play- und Pause-Symbole (ersetzen Sie dies durch Ihre eigenen Symbole) */
.video-overlay.play {
    content: '▶'; /* Play-Symbol */
}

.video-overlay.pause {
    content: '⏸'; /* Pause-Symbol */
}

.video-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
}

.progress-container {
    flex-grow: 1; /* Lässt den Progress-Container den verfügbaren Raum einnehmen */
}

.progress-bar {
    height: 5px;
    width: 0;
    background: blue;
    transition: width 0.25s;
}

#fullscreen-btn {
    margin-left: 10px;
    background: #000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Optional: Stil für den Hover-Effekt */
#fullscreen-btn:hover {
    background: #444;
}


h2, h3 {
    font-family: "hobeaux", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p, li {
    font-family: "kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: grey;
}

.content-bachtel {
    display: flex;
    gap: 100px;
}

.content-section {
    margin-top: 50px;
    margin: 100px 100px 50px 100px;
}

/* KARUSEL */

.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-slides img {
    width: 100%;
    display: none;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.carousel .prev {
    left: 0;
}

.carousel .next {
    right: 0;
}
