body, html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 100%; 
    background-color: whitesmoke;
}

.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 100;
}

a {
    color: whitesmoke;
    font-weight: 300;
    text-decoration: none;
    font-family: "hobeaux", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0px 40px 0px 40px;
}

a:hover {
    color: yellowgreen;
}

#video, #canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#canvas {
    z-index: 2; 
    color: whitesmoke;
}

.cutout-text {
    font-size: 60px;
    font-weight: bold;
    background-image: url('img/Placeholder.webp');
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
}

.content-all {
    margin-top: 95vh;
    max-width: 70vw; 
}

.kurzfilm {
    width: 100%; /* Macht das Video so breit wie den video-wrapper */
    display: block;
}

.video-wrapper {
    position: relative;
    width: 100%; /* oder eine andere Größe, die Sie für das Video festgelegt haben */
    margin: auto;
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px; /* Anpassen nach Bedarf */
    display: none; /* Standardmäßig versteckt */
    color: white; /* Farbe des Symbols */
    font-size: 5em;
}

/* Beispiel für Play- und Pause-Symbole (ersetzen Sie dies durch Ihre eigenen Symbole) */
.video-overlay.play {
    content: '▶'; /* Play-Symbol */
}

.video-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none; /* Verhindert Klick-Events, wenn die Kontrollleiste ausgeblendet ist */
    transition: opacity 0.5s;
}

.progress-container {
    flex-grow: 1; /* Lässt den Progress-Container den verfügbaren Raum einnehmen */
}

.progress-bar {
    height: 5px;
    width: 0;
    background: yellowgreen;
    transition: width 0.25s;
}

#fullscreen-btn {
    margin-left: 10px;
    background: #000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Optional: Stil für den Hover-Effekt */
#fullscreen-btn:hover {
    background: #444;
}

h1 {
    font-family: "outfit", sans-serif;
    font-size: 20vw;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

h2 {
    font-family: "hobeaux", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white; /* Weiße Schriftfarbe */
    position: relative; /* Für das Positionieren des Pseudo-Elements */
    display: inline-block; /* Damit das Pseudo-Element korrekt positioniert wird */
    margin-bottom: 20px;
}

h2::before {
    content: ""; /* Notwendig für Pseudo-Elemente */
    position: absolute; /* Absolutes Positionieren relativ zum h2-Tag */
    left: -20%; /* Leichte Verschiebung nach links für den Stil */
    width: 140%; /* Breiter als der Text */
    height: 120%; /* Volle Höhe des Textes */
    background-color: black; /* Schwarze Hintergrundfarbe */
    z-index: -1; /* Hinter dem Text */
    transform: rotate(-4deg); /* Leichte Drehung */
}

h3 {
    font-family: "hobeaux", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: grey;
}

p, li, dt, dd {
    font-family: "kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: grey;
}

.content-section {
    padding-top: 100px;
}

.content-bachtel {
    display: flex;
    flex-direction: row;
    gap: 100px;
}


/* KARUSEL */

.carousel {
    position: relative;
    width: 70vw;
    margin: auto;
    overflow: hidden;
}

.carousel-slides img {
    width: 100%;
    display: none;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.carousel .prev {
    left: 0;
}

.carousel .next {
    right: 0;
}


/* TEAM */

/* TODO: Grid untereinander und liste rechts und links ausrichten / Liste wie mit Tabulator */

footer {
    position: relative; 
    width: 100vw; 
    height: 100vh;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    left: 0;
    right: 0;
    margin-top: 200px;
}

.team-container {
    position: relative; /* Relative Positionierung innerhalb des Footers */
    width: 70vh; 
    margin: 0 auto;
    padding-top: 100px;
}

.definition-list {
    display: grid;
    grid-template-columns: 1fr 6fr;
    column-gap: 5px; /* Verringern Sie den Spaltenabstand */
    row-gap: 5px;
}

.term-description {
    display: contents;
}

dt {
    grid-column: 1;
    font-weight: bold;
    color: white; /* Farbe der Namen */
    width: 200px;
}

dd {
    grid-column: 2;
    text-align: left;
    color: white; /* Farbe der Rollen */
}

.team-image {
    width: 100%;
    text-align: right;
    margin-top: 100px; /* Abstand zum oberen Element */
    margin-left: auto; /* Zentriert das Bild auf der rechten Seite */
}

.team-image img {
    width: 100%;
    height: auto;
    max-width: 1500px; /* Anpassung der Bildgröße */
}

.title-page {
    display: none; /* Standardmäßig ausblenden */
    padding-top: 30vh;
    color: black; /* Schriftfarbe auf Schwarz ändern */
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Stellen sicher, dass der Titel über allem liegt */
}

@media (max-width: 1450px) {
    #canvas {
      display: none;
    }
  
    #video {
      display: none;
    }
  
    .title-page {
      display: block;
      width: 100%;
    }

    .content-all {
        width: auto; 
        margin-right: auto; 
        margin-left: auto;
        max-width: 70vw; 
        margin-top: 25vh;
    }

    .content-bachtel {
        display: flex;
        flex-direction: column;
    }
    
  }

  @media (max-width: 800px) {
    header {
        display: none;
    }
  }